<div class="modal fade" id="modalRegistroProducto" tabindex="-1" aria-labelledby="tituloModalRegistro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="tituloModalRegistro">📝 Registro de Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="codigoProducto" class="form-label">Código</label>
                        <input type="text" class="form-control" id="codigoProducto" name="codigo" placeholder="Ej. PROD001" required [(ngModel)]="codigo">
                    </div>

                    <div class="mb-3">
                        <label for="descripcionProducto" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcionProducto" name="descripcion" rows="3" placeholder="Descripción detallada del producto" required [(ngModel)]="descripcion"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="stockProducto" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="stockProducto" name="stock" min="0" placeholder="0" required [(ngModel)]="stock">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="precioProducto" class="form-label">Precio ($)</label>
                            <input type="number" class="form-control" id="precioProducto" name="precio" step="0.01" min="0.01" placeholder="0.00" required [(ngModel)]="precio">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="ivaProducto" class="form-label">Iva</label>
                        <input type="number" class="form-control" id="ivaProducto" name="iva" placeholder="0" required [(ngModel)]="iva">
                    </div>

                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="guardar()" type="button" class="btn btn-primary">
                    <i class="bi bi-save"></i> Guardar Producto
                </button>
                <button (click)="actualizar()" type="button" class="btn btn-primary">
                    <i class="bi bi-save"></i> Actualizar Producto
                </button>
            </div>
        </div>
    </div>
</div>