<div *ngIf="logueado==0">
  <app-login (datosenvio)="recibirEstadoLogin($event)"></app-login>
</div>

 
<div *ngIf="logueado" class="app-container">
  <div class="position-relative">
    <app-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    
    
    <div class="content-inner">




      <router-outlet></router-outlet>




    </div>

    




  </main>
</div>